body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #ffffff, #e0f7fa);
  color: #333;
  text-align: center;
}

header {
  background-color: #00796b;
  color: white;
  padding: 40px 20px;
}

.btn {
  background-color: #ffca28;
  padding: 10px 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
}

.btn:hover {
  background-color: #ffc107;
}

section {
  padding: 30px 15px;
}

button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #004d40;
}

footer {
  background-color: #004d40;
  color: white;
  padding: 20px;
}
